@import './style.css';
@import 'bootstrap';
@import 'bootstrap-icons';

body {
    background-image: url('../img/gold.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}