.height-custom {
    min-height: 60vh;
}

.collapse1 {
    visibility: visible !important;
}


.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}